
<a href="/university/new">Create new university</a><br/>
<a href="/course/new">Create new course</a><br/>
<a href="/university/searchString">search university</a><br/>
<a href="/course/searchString">search course</a>