<form action="/university/create" method="post">
	<h2>Create University</h2>
	<input type="text" placeholder="Enter university name.." name="uni_name"><br/>
	<input type="text" placeholder="Enter university type.." name="uni_type"><br/>
	<input type="text" placeholder="Enter university rank.." name="uni_rank"><br/>
	<input type="text" placeholder="Enter establish year.." name="year_of_establish"><br/>
	<input type="submit" value="Submit">
</form>